<div>
  {{#each responseFromApi}}
    {{> beerpartial this}}
    <ul>Food Pairing:
        {{#each this.food_pairing}}
            <li>{{this}}
                {{/each}}
        </li></ul>
    <p>Tips from the brewer:
    {{this.brewers_tips}}</p>

  {{/each}}
</div>